



 
 <chat-dialog class={{class}} style="background-color: {{color}};">
 <div >
  <div class="chat-dialog__header"> 
          <div class="chat-dialog__logo">
             <img src={{src}} class="chat-dialog__img" />
             <h3>{{name}}</h3>
          </div> 
            <div class="menu">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
            </div>
            <div>
 <p>{{text}}
           </p>

            </div>
           
          </div>
          </chat-dialog>