<form class="chat-controller">
  {{{AddChat}}}
  {{{AddChatButton}}}
  <input id="chat_avatar" type="file" name="avatar" accept="image/*" />
  {{{UpdateChatAvatarButton}}}
  {{{SelectChat}}}
  {{{DeleteChatButton}}}
  {{{CancelButton}}}
</form>
