<main>
  <div class="chat">
    <section class="sidebar">
      <div class="sidebar-search">
        <input type="search" name="search" placeholder="Search" />
      </div>
      <ul class="chat__list">
        {{{Chats}}}
      </ul>
    </section>
    <section class="dialogs">
      <div class="chat__profile">
      {{{Avatar}}}
      </div>
      {{{Dialogs}}}
      <form class="dialogs__control__send">
        {{{MessageInput}}}
        {{{Send}}}
      </form>
    </section>
  </div>
</main>
