<main>
  <section class="profile">
    {{{Avatar}}}
    <h1 class="profile-name">{{profile.name}}</h1>

    <table class="profile-info">
      <tbody>
        <tr>
          <td>Почта</td>
          <td class="t-end">{{profile.email}}</td>
        </tr>
        <tr>
          <td>Логин</td>
          <td class="t-end">{{profile.login}}</td>
        </tr>
        <tr>
          <td>Имя</td>
          <td class="t-end">{{profile.first_name}}</td>
        </tr>
        <tr>
          <td>Фамилия</td>
          <td class="t-end">{{profile.second_name}}</td>
        </tr>
        <tr>
          <td>Имя в чате</td>
          <td class="t-end">{{profile.login}}</td>
        </tr>
        <tr>
          <td>Телефон</td>
          <td class="t-end">{{profile.phone}}</td>
        </tr>
      </tbody>
    </table>
    <div class="change-profile">
      {{{LinkChangeProfile}}}
      {{{LinkChangePassword}}}
      {{{Link}}}
      {{{LinkExit}}}
    </div>
  </section>
  {{#if show}}
    {{{ChangeAvatar}}}
  {{/if}}
</main>