<main>
  <div class="chat">
    <section class="sidebar">
      <div class="sidebar-search">
        <input class="input" type="search" name="search" placeholder="Search" />
        {{{Menu}}}
      </div>
        {{{Chats}}}
    </section>
    <section class="dialogs">
      <div class="chat__profile">
      {{{Avatar}}}
      </div>
      {{{Dialogs}}}
      <form class="dialogs__control__send">
        {{{MessageInput}}}
        {{{Send}}}
      </form>
    </section>
  </div>
</main>
